<div class="component97 w-[188px] h-[16.76px] relative p-0">
  <div class="rectangle5068 absolute w-[188px] h-[16.76px] bg-[#000000] p-0 rounded-[7.286821365356445px] inset-[0%]"></div>
  <span class="freeTransfersLeft010 font-[Poppins,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-[7.9606032371521px] font-medium text-[#ffffff] text-left absolute left-[23.26%] right-[23.02%] top-[13.04%] bottom-[15.36%]">Free Transfers left 0/10</span>
</div>