<div class="component75 w-[383.62px] h-[67.83px] relative p-0">
  <div class="rectangle8 absolute right-[-0.03%] w-[383.62px] h-[67.83px] bg-[#000000] p-0 rounded-lg left-[0.03%] inset-y-[0%]"></div>
  <span class="signIn font-['Work_Sans',ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-base font-semibold text-[#ffffff] text-center tracking-[-0.02rem] absolute w-[307.64px] h-[21.5px] left-[10.19%] right-[9.62%] top-[29.16%] bottom-[39.14%]">Sign In</span>
</div>