<div class="component84 w-[623px] h-[84px] relative p-0">
  <svg class="group139" width="79" height="81" viewBox="0 0 79 81" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M50.9852 39.2912V27.8061C50.9852 15.12 40.7011 4.83594 28.0151 4.83594V4.83594C15.329 4.83594 5.04492 15.12 5.04492 27.8061V62.8658" stroke="white" stroke-width="9.67164" stroke-linecap="round" />
    <path d="M28.0148 42.3133L28.0148 53.1939C28.0148 65.88 38.2989 76.1641 50.9849 76.1641V76.1641C63.671 76.1641 73.9551 65.88 73.9551 53.1939L73.9551 18.1342" stroke="white" stroke-width="9.67164" stroke-linecap="round" />
    <path d="M3.83594 41.1045H75.1643" stroke="white" stroke-width="9.67164" />
  </svg>
  <div class="component83 absolute w-[623px] h-[84px] p-0 inset-[0%]">
    <div class="rectangle7 absolute w-[81px] h-[81px] p-0 rounded-[24.179105758666992px] border-[9.67px] border-[#ffffff] left-[0%] right-[87%] top-[3.57%] bottom-[0%]"></div>
    <div class="inputTextHere absolute w-[515px] h-[84px] p-0 left-[17.34%] right-[0%] inset-y-[0%]">
      <span class="companyName font-['Work_Sans',ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-7xl font-bold text-[#ffffff] text-left absolute left-[0%] right-[36.7%] inset-y-[0%]">PolyPayd</span>
    </div>
  </div>
</div>