<div class="component86 w-[480px] h-[896px] relative p-0">
  <div class="fadeoutScrren absolute w-[414px] h-[896px] overflow-hidden bg-[#000000] p-0 rounded-[30px] left-[0%] right-[13.75%] inset-y-[0%]"></div>
  <div class="component85 absolute right-[-2.5%] w-[429px] h-[57.84px] overflow-hidden p-0 left-[13.13%] top-[43.53%] bottom-[50.02%]">
    <svg class="group139" width="55" height="56" viewBox="0 0 55 56" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M35.7973 27.122V19.2133C35.7973 10.4777 28.7156 3.396 19.9799 3.396V3.396C11.2443 3.396 4.1626 10.4777 4.1626 19.2133V43.3556" stroke="white" stroke-width="6.65993" stroke-linecap="round" />
      <path d="M19.9796 29.203L19.9796 36.6954C19.9796 45.431 27.0613 52.5127 35.7969 52.5127V52.5127C44.5326 52.5127 51.6143 45.431 51.6143 36.6954L51.6143 12.5531" stroke="white" stroke-width="6.65993" stroke-linecap="round" />
      <path d="M3.33008 28.3706H52.447" stroke="white" stroke-width="6.65993" />
    </svg>
    <div class="component83 absolute w-[429px] h-[57.84px] p-0 inset-[0%]">
      <div class="rectangle7 absolute w-[55.78px] h-[55.78px] p-0 rounded-[16.649816513061523px] border-[6.66px] border-[#ffffff] left-[0%] right-[87%] top-[3.57%] bottom-[0%]"></div>
      <div class="inputTextHere absolute w-[354.63px] h-[57.84px] p-0 left-[17.34%] right-[0%] inset-y-[0%]">
        <span class="companyName font-['Work_Sans',ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-[49.57945251464844px] font-bold text-[#ffffff] text-left absolute bottom-[-0.27%] left-[0%] right-[36.55%] top-[0%]">PolyPayd</span>
      </div>
    </div>
  </div>
</div>