<div class="component101 w-[375.5px] h-[155.46px] relative p-0">
  <svg width="404" height="188" viewBox="0 0 404 188" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 44.1355C0 34.6159 7.49441 26.7836 17.0047 26.364L358.982 11.2747C361.977 11.1425 364.89 10.2555 367.45 8.69606L376.813 2.99368C389.478 -4.7195 405.466 5.53812 403.734 20.2651L385.902 171.834C384.825 180.985 376.939 187.799 367.729 187.537L17.2831 177.569C7.65942 177.295 0 169.414 0 159.787V44.1355Z" fill="white" />
  </svg>
  <div class="vuesaxlinearinfoCircle absolute w-[35.58px] h-[35.58px] p-0 left-[2.88%] right-[87.64%] top-[33.33%] bottom-[43.78%]">
    <div class="vuesaxlinearinfoCircle w-[35.58px] h-[35.58px] absolute p-0">
      <svg class="infoCircle" width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M18.617 33.4328C26.7703 33.4328 33.4411 26.762 33.4411 18.6087C33.4411 10.4555 26.7703 3.78467 18.617 3.78467C10.4638 3.78467 3.79297 10.4555 3.79297 18.6087C3.79297 26.762 10.4638 33.4328 18.617 33.4328Z" stroke="black" stroke-width="2.22361" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M18.6169 12.6792V20.0912" stroke="black" stroke-width="2.22361" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M18.6091 24.5381H18.6224" stroke="black" stroke-width="2.96481" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </div>
  </div>
  <div class="rectangle5070 absolute w-[249.82px] h-[75.02px] bg-[#ffffff] p-0 border-b-[0.77px] border-b-[#000000] left-[12.36%] right-[21.11%] top-[0%] bottom-[51.74%]"></div>
  <span class="pivateLinkThisLinkWillNotBeVisisbleToPolypaydUsersItCanOnlyBeShareToPeopleUWantToPe font-[Poppins,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-[13.519123077392578px] font-bold text-[#000000] text-left absolute w-[259.87px] h-[66.51px] left-[14.01%] right-[16.79%] top-[5.47%] bottom-[51.74%]">Pivate Link: <span class="text-[11.601441383361816px] font-light">This link will not be visisble to polypayd users, it can only be share to people u want to pe</span></span>
  <span class="publicLinkThisLinkWillNotBeVisisbleToPolypaydUsersItCanOnlyBeShareToPeopleUWantToPe font-[Poppins,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-[13.519123077392578px] font-bold text-[#000000] text-left absolute w-[249.04px] h-[51.82px] left-[14.83%] right-[18.85%] top-[55.22%] bottom-[11.44%]">Public Link: <span class="text-[11.601441383361816px] font-light">This link will not be visisble to polypayd users, it can only be share to people u want to pe</span></span>
</div>