<div class="functions gap-0 absolute flex-col items-start p-0 left-5 top-5 flex">
  <div class="functions gap-2.5 flex-col w-[76px] justify-center items-center p-0 flex">
    <div class="frame5 w-[59px] h-[59px] relative bg-[#f8f8f8] p-0 rounded-[190px]">
      <div class="transfer w-0 h-0 absolute p-0">
      </div>
      <div class="group2071 w-[29px] h-[19px] absolute p-0">
        <div class="rectangle1985 w-[25px] h-[13px] relative bg-[#1d1d1d] p-0 rounded-[5px]"></div>
        <div class="rectangle1986 w-[25px] h-[13px] relative bg-[#1d1d1d] opacity-[0.20000000298023224] p-0 rounded-[5px]"></div>
      </div>
    </div>
    <span class="spend font-['Work_Sans',ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-[15px] font-normal text-[#f8f8f8] text-center w-[93px] h-[17px]">Spend</span>
  </div>
</div>