<div class="group2065 w-[353px] h-14 relative p-0">
  <div class="rectangle1941 absolute w-[353px] h-14 bg-[#ffffff] p-0 rounded-[20px] inset-[0%]"></div>
  <div class="rectangle1942 absolute w-[174px] h-12 shadow-[0px_5px_7px_rgba(0,0,0,0.1)] bg-[#1d1d1d] p-0 rounded-[20px] left-[1.13%] right-[49.58%] top-[5.36%] bottom-[8.93%]"></div>
  <span class="generateLink font-['Work_Sans',ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-[15px] font-medium text-[#f8f8f8] text-center absolute left-[11.05%] right-[59.77%] top-[32.14%] bottom-[35.71%]">Generate Link</span>
  <span class="virtualCard font-['Work_Sans',ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-[15px] font-normal text-[#333333] text-center absolute left-[62.61%] right-[13.31%] inset-y-[33.93%]">Virtual card</span>
</div>