<div class="table w-[390px] h-[196px] relative p-0">
  <div class="tableRow gap-0 absolute flex-col w-[390px] items-start bg-[#ffffff] pl-4 pr-0 py-0 top-[0%] bottom-[77.55%] inset-x-[0%] flex">
    <div class="content gap-2 flex-row items-start w-full pl-0 pr-4 py-0 flex">
      <div class="leftContent gap-2.5 flex-row w-[285.88px] items-start flex-1 min-w-0 px-0 py-[11px] flex">
        <span class="label font-['Work_Sans',ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-[17px] font-normal text-[#000000] text-left tracking-[-0.26px] leading-[22px] w-[285.88px] flex-1 min-w-0">Title</span>
      </div>
      <div class="rightContent gap-3 flex-row h-full items-center p-0 flex">
        <span class="label font-['Work_Sans',ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-[17px] font-normal text-[rgba(60,60,67,0.6)] text-left tracking-[-0.26px] leading-[22px]">Label</span>
        <div class="rightContent gap-3 flex-row h-full items-center p-0 flex">
          <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 8C9 7.79248 8.91699 7.60156 8.75928 7.45215L2.18506 1.01074C2.03564 0.869629 1.85303 0.794922 1.63721 0.794922C1.21387 0.794922 0.881836 1.11865 0.881836 1.55029C0.881836 1.75781 0.964844 1.94873 1.09766 2.08984L7.14062 8L1.09766 13.9102C0.964844 14.0513 0.881836 14.2339 0.881836 14.4497C0.881836 14.8813 1.21387 15.2051 1.63721 15.2051C1.85303 15.2051 2.03564 15.1304 2.18506 14.981L8.75928 8.54785C8.91699 8.39014 9 8.20752 9 8Z" fill="#3C3C43" fill-opacity="0.3" />
          </svg>
        </div>
      </div>
    </div>
    <svg width="374" height="1" viewBox="0 0 374 1" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line y1="0.75" x2="374" y2="0.75" stroke="#C6C6C8" stroke-width="0.5" />
    </svg>
  </div>
  <div class="tableRow gap-0 absolute flex-col w-[390px] items-start bg-[#ffffff] pl-4 pr-0 py-0 top-[77.55%] bottom-[0%] inset-x-[0%] flex">
    <div class="content gap-2 flex-row items-start w-full pl-0 pr-4 py-0 flex">
      <div class="leftContent gap-2.5 flex-row w-[299px] items-start flex-1 min-w-0 px-0 py-[11px] flex">
        <span class="label font-['Work_Sans',ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-[17px] font-normal text-[#000000] text-left tracking-[-0.26px] leading-[22px] w-[299px] flex-1 min-w-0">Title</span>
      </div>
      <div class="rightContent gap-3 flex-row h-full items-center p-0 flex">
        <svg class="switch" width="57" height="44" viewBox="0 0 57 44" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M15.857 3.59215C17.597 3.49215 19.335 3.50015 21.075 3.50015C21.087 3.50015 29.892 3.50015 29.892 3.50015C31.666 3.50015 33.404 3.49215 35.143 3.59215C36.724 3.68215 38.264 3.87415 39.797 4.30315C43.024 5.20515 45.842 7.08915 47.879 9.76015C49.904 12.4142 51 15.6632 51 18.9992C51 22.3392 49.904 25.5862 47.879 28.2402C45.842 30.9102 43.024 32.7952 39.797 33.6972C38.264 34.1262 36.724 34.3172 35.143 34.4082C33.404 34.5082 31.666 34.4992 29.926 34.4992C29.914 34.4992 21.107 34.5002 21.107 34.5002C19.335 34.4992 17.597 34.5082 15.857 34.4082C14.277 34.3172 12.737 34.1262 11.204 33.6972C7.977 32.7952 5.159 30.9102 3.122 28.2402C1.097 25.5862 0 22.3392 0 19.0002C0 15.6632 1.097 12.4142 3.122 9.76015C5.159 7.08915 7.977 5.20515 11.204 4.30315C12.737 3.87415 14.277 3.68215 15.857 3.59215Z" fill="#34C759" />
          <g filter="url(#filter0_dd_1815_737)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M35.5 32.5C42.9558 32.5 49 26.4558 49 19C49 11.5442 42.9558 5.5 35.5 5.5C28.0442 5.5 22 11.5442 22 19C22 26.4558 28.0442 32.5 35.5 32.5Z" fill="white" />
          </g>
          <defs>
            <filter id="filter0_dd_1815_737" x="14" y="0.5" width="43" height="43" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix" />
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
              <feOffset dy="3" />
              <feGaussianBlur stdDeviation="0.5" />
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.06 0" />
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1815_737" />
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
              <feOffset dy="3" />
              <feGaussianBlur stdDeviation="4" />
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0" />
              <feBlend mode="normal" in2="effect1_dropShadow_1815_737" result="effect2_dropShadow_1815_737" />
              <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_1815_737" result="shape" />
            </filter>
          </defs>
        </svg>
      </div>
    </div>
    <svg width="374" height="1" viewBox="0 0 374 1" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line y1="0.75" x2="374" y2="0.75" stroke="#C6C6C8" stroke-width="0.5" />
    </svg>
  </div>
  <div class="tableRow gap-0 absolute flex-col w-[390px] items-start bg-[#ffffff] pl-4 pr-0 py-0 inset-x-[0%] inset-y-[38.78%] flex">
    <div class="content gap-2 flex-row items-start w-full pl-0 pr-4 py-0 flex">
      <div class="leftContent gap-2 flex-row w-[358px] items-start flex-1 min-w-0 pl-0 pr-4 py-[11px] flex">
        <div class="remove w-[22px] h-[22px] relative p-0">
          <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11 22C17.0751 22 22 17.0751 22 11C22 4.92487 17.0751 0 11 0C4.92487 0 0 4.92487 0 11C0 17.0751 4.92487 22 11 22Z" fill="#FF3B30" />
          </svg>
          <div class="line w-2.5 h-px relative bg-[#ffffff] p-0"></div>
        </div>
        <span class="label font-['Work_Sans',ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-[17px] font-normal text-[#000000] text-left tracking-[-0.26px] leading-[22px] w-[312px] flex-1 min-w-0">Title</span>
      </div>
    </div>
    <svg width="374" height="1" viewBox="0 0 374 1" fill="none" xmlns="http://www.w3.org/2000/svg">
      <line y1="0.75" x2="374" y2="0.75" stroke="#C6C6C8" stroke-width="0.5" />
    </svg>
  </div>
</div>