<div class="withdrawPin w-[428px] h-[926px] relative overflow-hidden bg-[#f8f8f8] p-0 rounded-[30px]">
  <div class="maskGroup w-[409.67px] h-[207.57px] absolute p-0 !hidden">
    <div class="rectangle12 w-[409.67px] h-[207.57px] relative bg-[#ffffff] p-0"></div>
    <div class="group19685 w-[976.94px] h-[925.27px] relative p-0">
      <div class="group16 w-[236.99px] h-[240.44px] relative p-0">
      </div>
      <div class="group22 w-[236.99px] h-[240.44px] relative p-0">
      </div>
      <div class="group28 w-[236.99px] h-[240.44px] relative p-0">
      </div>
      <div class="group34 w-[236.99px] h-[240.44px] relative p-0">
      </div>
      <div class="group17 w-[236.99px] h-[240.44px] relative p-0">
      </div>
      <div class="group23 w-[236.99px] h-[240.44px] relative p-0">
      </div>
      <div class="group29 w-[236.99px] h-[240.44px] relative p-0">
      </div>
      <div class="group35 w-[236.99px] h-[240.44px] relative p-0">
      </div>
      <div class="group18 w-[236.99px] h-[240.44px] relative p-0">
      </div>
      <div class="group24 w-[236.99px] h-[240.44px] relative p-0">
      </div>
      <div class="group30 w-[236.99px] h-[240.44px] relative p-0">
      </div>
      <div class="group36 w-[236.99px] h-[240.44px] relative p-0">
      </div>
      <div class="group19 w-[236.99px] h-[240.44px] relative p-0">
      </div>
      <div class="group25 w-[236.99px] h-[240.44px] relative p-0">
      </div>
      <div class="group31 w-[236.99px] h-[240.44px] relative p-0">
      </div>
      <div class="group37 w-[236.99px] h-[240.44px] relative p-0">
      </div>
      <div class="group20 w-[236.99px] h-[240.44px] relative p-0">
      </div>
      <div class="group26 w-[236.99px] h-[240.44px] relative p-0">
      </div>
      <div class="group32 w-[236.99px] h-[240.44px] relative p-0">
      </div>
      <div class="group38 w-[236.99px] h-[240.44px] relative p-0">
      </div>
      <div class="group21 w-[236.99px] h-[240.44px] relative p-0">
      </div>
      <div class="group27 w-[236.99px] h-[240.44px] relative p-0">
      </div>
      <div class="group33 w-[236.99px] h-[240.44px] relative p-0">
      </div>
      <div class="group39 w-[236.99px] h-[240.44px] relative p-0">
      </div>
    </div>
  </div>
  <div class="group237623 w-[349.25px] h-[110.26px] absolute p-0">
    <span class="input4DigitPIN font-['Work_Sans',ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-[28.404109954833984px] font-semibold text-[#000000] text-center tracking-[-0.01rem] leading-[1.2rem]">Input 4-Digit PIN</span>
    <span class="pleaseInputYourPINToCompleteYourTransaction font-['Work_Sans',ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-[15.294520378112793px] font-normal text-[#000000] text-center leading-[1.4rem] w-[349.25px] h-[41.59px]">Please input your PIN to complete your transaction</span>
  </div>
  <div class="group19737 w-[357.24px] h-[528.94px] absolute p-0">
    <span class="1 font-[Poppins,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-[32.77397155761719px] font-bold text-[#000000] text-center tracking-[-0.01rem] leading-[1.2rem]">1</span>
    <span class="4 font-[Poppins,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-[32.77397155761719px] font-bold text-[#000000] text-center tracking-[-0.01rem] leading-[1.2rem]">4</span>
    <span class="7 font-[Poppins,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-[32.77397155761719px] font-bold text-[#000000] text-center tracking-[-0.01rem] leading-[1.2rem]">7</span>
    <span class="2 font-[Poppins,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-[32.77397155761719px] font-bold text-[#000000] text-center tracking-[-0.01rem] leading-[1.2rem]">2</span>
    <span class="5 font-[Poppins,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-[32.77397155761719px] font-bold text-[#000000] text-center tracking-[-0.01rem] leading-[1.2rem]">5</span>
    <span class="8 font-[Poppins,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-[32.77397155761719px] font-bold text-[#000000] text-center tracking-[-0.01rem] leading-[1.2rem]">8</span>
    <span class="0 font-[Poppins,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-[32.77397155761719px] font-bold text-[#000000] text-center tracking-[-0.01rem] leading-[1.2rem]">0</span>
    <span class="3 font-[Poppins,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-[32.77397155761719px] font-bold text-[#000000] text-center tracking-[-0.01rem] leading-[1.2rem]">3</span>
    <span class="6 font-[Poppins,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-[32.77397155761719px] font-bold text-[#000000] text-center tracking-[-0.01rem] leading-[1.2rem]">6</span>
    <span class="9 font-[Poppins,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,'Segoe_UI',Roboto,'Helvetica_Neue',Arial] text-[32.77397155761719px] font-bold text-[#000000] text-center tracking-[-0.01rem] leading-[1.2rem]">9</span>
    <svg class="component4" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M9.74839 14.6671L15.9754 20.7849C16.4124 21.2219 17.0679 21.2219 17.5049 20.7849C17.9419 20.3479 17.9419 19.6925 17.5049 19.2555L12.1518 13.7932L17.5049 8.33082C17.9419 7.89384 17.9419 7.23836 17.5049 6.80137C17.2864 6.58288 17.0679 6.47363 16.7402 6.47363C16.4124 6.47363 16.1939 6.58288 15.9754 6.80137L9.74839 12.9192C9.31141 13.4654 9.31141 14.1209 9.74839 14.6671C9.74839 14.5579 9.74839 14.5579 9.74839 14.6671Z" fill="black" />
    </svg>
    <div class="rectangle2634 w-[357.24px] h-[56.81px] relative bg-[rgba(204,204,204,0.38)] opacity-50 p-0 rounded-[5px] border-[1.09px] border-[#ffffff]"></div>
  </div>
  <div class="frame34 gap-0 absolute flex-row items-center bg-[#000000] p-[8.739726066589355px] rounded-[8.739726066589355px] left-[6.36%] right-[83.43%] top-[6.51%] bottom-[88.77%] flex">
    <div class="iconly w-[26.22px] h-[26.22px] relative p-0">
      <div class="iconlyTwoToneArrowLeft absolute w-[26.22px] h-[26.22px] p-0 inset-[0%]">
        <svg class="arrowLeft" width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.4" d="M1.61076 7.40805L17.9977 7.40805" stroke="white" stroke-width="1.6387" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M8.21997 13.9895L1.61055 7.40852L8.21997 0.826416" stroke="white" stroke-width="1.6387" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
    </div>
  </div>
  <div class="rectangle2596 w-[102.69px] h-[4.37px] absolute bg-[#e2e8fb] p-0 rounded-[4.369863033294678px] left-[159.0377197265625px] top-[15.29443359375px]"></div>
  <div class="vuesaxbrokenfingerScan w-11 h-11 absolute bg-[#ffffff] p-0 left-[52px] top-[764px]">
    <div class="vuesaxbrokenfingerScan w-11 h-11 absolute p-0">
      <svg class="fingerScan" width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M22 16.7202C23.6684 16.7202 25.025 18.0769 25.025 19.7453V24.2735C25.025 25.9419 23.6684 27.2986 22 27.2986C20.3317 27.2986 18.975 25.9419 18.975 24.2735" stroke="black" stroke-width="2.75" stroke-linecap="round" />
        <path d="M31.13 24.6949C30.7633 29.4249 26.8033 33.1283 22 33.1283C16.94 33.1283 12.8333 29.0216 12.8333 23.9616V20.0382C12.8333 14.9782 16.94 10.8716 22 10.8716C26.7483 10.8716 30.6533 14.4832 31.1116 19.1032" stroke="black" stroke-width="2.75" stroke-linecap="round" />
        <path d="M27.5 3.6665H31.1667C36.6667 3.6665 40.3333 7.33317 40.3333 12.8332V16.4998" stroke="black" stroke-width="2.75" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M3.66669 16.4998V12.8332C3.66669 7.33317 7.33335 3.6665 12.8334 3.6665H16.5" stroke="black" stroke-width="2.75" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M27.5 40.3333H31.1667C36.6667 40.3333 40.3333 36.6667 40.3333 31.1667V27.5" stroke="black" stroke-width="2.75" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M3.66669 27.5V31.1667C3.66669 36.6667 7.33335 40.3333 12.8334 40.3333H16.5" stroke="black" stroke-width="2.75" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
    </div>
  </div>
</div>